<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Search</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<style>
    #parent {
        padding: 5% 0;
    }

    #child {
        padding: 20% 0;
    }
</style>
<body>

<!-- 你的HTML代码 -->
<div class="layui-container" id="parent">

    <div class="layui-row" id="child">
        <div class="layui-col-md6 layui-col-md-offset2">
            <div class="grid-demo grid-demo-bg2">
                <form class="layui-form" action="">

                    <div class="layui-form-item">
                        <a href="/compare" style="text-decoration:underline">对比</a>
                        <a href="/" style="text-decoration:underline">查询</a>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label" style="vertical-align:middle;display:inline-block;">输入</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" id="kw" autocomplete="on" placeholder=""
                                   class="layui-input" style="vertical-align:middle">
                        </div>

                    </div>

                     <div class="layui-form-item">
                        <label class="layui-form-label" style="vertical-align:middle;display:inline-block;">输入</label>
                        <div class="layui-input-block">
                            <input type="text" name="title2" id="num" autocomplete="on" placeholder="" class="layui-input" style="vertical-align:middle">
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-normal" onclick="go('b')">
                                百度搜索
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary" onclick="go('g')">
                                谷歌搜索
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
<script src="../static/layui.js"></script>
<script>
    //一般直接写在一个js文件中


    function go(type) {
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer
                , form = layui.form;
            var $ = layui.$;
            var kw = document.getElementById('kw').value
            var num = document.getElementById('num').value
            if (type === 'a') {
                url = '/to_compare?q=' + kw + '&q2=' + num + '&type=' + type
            } else if (type === 'g') {
                url = '/to_compare?q=' + kw + '&q2=' + num+ '&type=' + type
            } else if (type === 'b') {
                url = '/to_compare?q=' + kw + '&q2=' + num+ '&type=' + type
            }

            $.ajax({
                type: "get",
                url: url,
                data: null,
                dataType: "json",
                beforeSend: function (R) {//这里是全局事件
                    loading = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                },
                success: function (data) {
                    if (data.code === 1) {
                        layer.closeAll("loading")
                        var str = kw + "：" + data.q1 + "\n" + num + "：" + data.q2
                        layer.confirm(str)
                    }
                },
                error:function(e){
                 layer.msg("error");
            }

            })

        })
    }


</script>
</body>
</html>